 /* body {
  padding: 2rem;
  margin: 2rem;
  background-color: whitesmoke;
  text-align: center;
  justify-content: center;
} 

.main {
  background-color: silver;
  border: 4px solid black;
  border-radius: 40px;
  margin: auto;
  padding: 1rem;
  max-width: 20rem;
  height: 10rem;
} */

/* h1 {
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
  text-transform: capitalize;
  color: white;
  background-color: purple;
  border: 2px solid white;
  border-radius: 5px;
}
input {
  margin: 1px;
  padding: 1px;
  border-radius: 5px;
  background-color: coral;
  border: 2px solid white;
  justify-content: center;
  text-align: center;
}
.two {
  margin: 1rem;
  padding: 5px;
  border-radius: 5px;
  background-color: red;
  border: 2px solid white;
  float: right;
} */ 
